# Environment files useful for development
.env*
!.env.sample

# Seed data also useful for development
seed_data.*.json
!seed_data.sample.json

# Generated TypesScript code
pkg

# Python virtual environment (used for pre-commit during development)
venv
