{$PUBLIC_URL} {
    tls internal
    reverse_proxy /api/* {$BACKEND_HOST}:{$BACKEND_PORT}
	reverse_proxy {$FRONTEND_HOST}:{$FRONTEND_PORT}
}

api.{$PUBLIC_URL} {
    tls internal
	reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
}
